@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --text: #e6f7dc;
    --background: #333;
    --background-secondary: #282828;
    --background-accent: #1e8681;
    --text-primary: #43EB63; /*#ade58b;*/
    --text-secondary: #37a1d3;
    --text-accent: #f9b234;
}

/**{
    border: 1px solid red;
}*/

body{
/*    background-color: var(--background);*/
    background-color: transparent;
    width:  100%;
    height: 100%;
    margin: 0;
    text-align: center ;
}

.topnav {
  text-align: right;
}

.icon{
    width: 25px;
    height: 25px;
}

.project_list{
/*    color: var(--text-primary);*/
/*    border: 1px solid var(--primary);*/
    border-radius: 10px;
    padding: 1%;
    margin-left: 25%;
    width: 50%;
    height: 100%;
    margin-bottom: 19px;

/*    position: absolute;
    top: 50%;*/
}

.project{

}

.project:not(:last-child) {
  margin-bottom: 0.8%;
}

a:visited{
    color: var(--text-primary);
    text-decoration: None;
}

a {
    color: var(--text-primary);
    text-decoration: None;
}

.project .card-description{
    margin-left: 1%;
}

.description{
/*    --side-margin: 20%;*/
/*    margin-top: 5%;*/
/*    margin-left:  var(--side-margin);*/
/*    margin-right: var(--side-margin) ; */
/*    font-size: 2em;*/
/*    color: var(--text);*/
}




/*
    Totally not stolen from https://codepen.io/wikyware-net/pen/dyKPRxQ
*/
.card {

}

.card-link:hover,
.card-link:hover .card-title {
    color: #FFF;
}

.card-link:hover .card-bg {
    transform: translate(0vw, 60%) scale(3);
    width: 100%; height: 100%;
}

.card-title {

}

.card-description{

}

.card-date{

}

.card-date-box {

}

.card-bg {
    transition: all .5s ease;
}

.card:nth-child(2n) .card-bg {
    background-color: #3ecd5e30;
}

.card:nth-child(3n) .card-bg {
    background-color: #e4400230;
}

.card:nth-child(4n) .card-bg {
    background-color: #952aff30;
}

.card:nth-child(5n) .card-bg {
    background-color: #cd3e9430;
}

.card:nth-child(6n) .card-bg {
    background-color: #4c49ea30;
}

#gridwormCanvas{
    background-color: black;
    position: fixed;
    z-index: -1;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

/*.mail-input{
    background-color: green;
    size: 150px;
}*/